body {
    margin: 0;
}

.inicio {
    background-color: #1F2937;
    padding: 16px 70px;
    margin-top: 0;
}

.header {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    font-size: 18px;
    align-items: center;
    margin-bottom: 36px;
    border-bottom: 1px solid #0E0B1A;
    padding-bottom: 10px;
}
.header .two{
    border-left: 1px solid  #0E0B1A;
    padding: 20px 0;
    padding-left: 8px;
    color: darkgrey;
}

.header .two:hover{
    color: grey;
}

.header .one {
    margin-right: auto;
    height: 72px
}

.header a{
    text-decoration: none;
}

.header img {
    height: 100%;
    border-radius: 50%;
}

.title {
    display: flex;
    color: white;
    gap: 10px;
}

.title .one {
    margin-right: auto;
    flex: 1;
}

.title .one button {
    background-color: #3882F6;
    border-radius: 10px;
    height: 30px;
    color: white;
    text-align: center;
    margin-top: 4px;
}

.title .one button:hover{
    background-color: #265AAC;
}

.title img{
    width: 100%;
    max-width: 300px;
}

.title .two {
    flex: 1;
    align-self: center;
    text-align: right;
}

.one ul {
    list-style-type: circle;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

.one h1{
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 20px;
}

.header2{
    margin-top: 52px;
    text-align: center;
    color: #1F2937;
    font-weight: 900;
    font-size: 36px;
}

.videos {
    display: flex;
    justify-content: center;
    gap: 36px;
    flex-wrap: wrap;
}

.videos p {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

.video-imagem {
    width: 300px;
    height: 170px;
    border-radius: 10px;
    border: 4px solid #265AAC;
    display: flex;
    justify-content: center;
}

.video-imagem img {
    border-radius: 6px;
    width: 100%;
    height: auto;
}

.frase {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding:  0 20%;
}

.frase div {
    font-style: italic;
    font-weight: 100;
    text-align: center;
    font-size: 36px;
    color: #1F2937;
}

.frase .ref {
    font-weight: 700;
    text-align: end;
    font-size: 24px;
}